:root {
  --bg: rgb(61, 13, 123);
  --fg: rgba(8, 1, 14);
  
  --field-border:rgba(255, 255, 255, 0.29);
  --field-bg:rgba(31, 31, 31);
  --field-border-focus:rgb(149,0,255,0.1);
}

* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: var(--bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
