section {
  flex-shrink: 1;
  width: 380px;
  padding: 16px;
}

section footer {
  display: flex;
  gap: 16px;
  padding: 12px;
}

section footer a {
  text-decoration: none;
  color: rgba(113, 18, 156, 0.5);
  font-size: 14px;
}

section footer a:hover {
  color: rgb(102, 11, 138);
}